div#game-container > div {
  display: flex;
  width: 100%;
  height: 100%;
}

div#game-container > div > div#aside > div#chairs {
  display: grid;
  margin: 0.2rem 0.1rem 0.05rem 0.1rem;
}

div#game-container > div > div#table > div#table-center.shown {
  display: block;
  position: absolute;
  height: calc(30% * 0.8);
  left: calc(2.9rem + 5%);
  top: 50%;
  transform: translateY(-50%);
}
div#game-container > div > div#table > div#player-bottom.shown {
  display: block;
  padding-left: 5%;
  width: calc(100% - 5%);
  height: 30%;
  bottom: 0.4rem;
}

@media (min-aspect-ratio: 1/1) {
  div#game-container > div {
    flex-direction: row;
  }
  div#game-container > div > div#aside {
    flex: 0 0 5.9rem;
  }
  div#game-container > div > div#aside > div#chairs {
    grid-template-columns: 1fr 1fr;
  }
  div#game-container > div > div#aside > div#chat > div > div:last-of-type > div:first-of-type {
    height: 2.85rem;
  }
  div#game-container > div > div#table > div#table-center.shown {
    height: calc(20vw * 0.8);
    max-height: calc(3.2rem * 0.8);
  }
  div#game-container > div > div#table > div#player-bottom.shown {
    height: 20vw;
    max-height: 3.2rem;
  }
  div#game-container > div > div#aside > div#actions button:last-of-type {
    display: none;
  }
  div#game-container > div > div#aside > div#chat {
    display: grid;
    flex: 1 1 auto;
    margin: 0.05rem 0.1rem 0.2rem 0.1rem;
  }
}

@media (max-aspect-ratio: 1/1) {
  div#game-container > div {
    flex-direction: column;
  }
  div#game-container > div > div#aside > div#chairs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  div#game-container > div > div#aside > div#actions button:last-of-type {
    display: block;
  }
  div#game-container > div > div#aside > div#chat div#chat-box {
    height: 3rem;
  }

  div#game-container > div > div#aside > div#chat.shown {
    display: block;
    position: fixed;
    width: 80vw;
    height: 50vh;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }
}

div#game-container > div > div#table {
  position: relative;
  flex: 1 1 auto;
  background-color: transparent;
}

div#game-container > div > div#aside {
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 47, 60);
  z-index: 5000;
}

div#game-container > div > div#aside > div#chairs button {
  margin: 0 auto;
}

div#game-container > div > div#aside > div#actions button {
  margin: 0;
}

div#game-container > div > div#aside > div#chat button {
  display: inline-block;
  margin: 0 0 0 0.1rem;
}

div#game-container > div > div#aside > div#chat input[type="text"] {
  display: inline-block;
  flex: 1 1 auto;
  margin: 0 0.1rem 0 0;
  padding: 0.1rem 0.27rem;
  font-size: 0.27rem;
  font-family: 'Merriweather', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(50, 55, 70);
}

div#game-container > div > div#aside > div#actions {
  display: grid;
  margin: 0.05rem 0.1rem 0.05rem 0.1rem;
}

div#game-container > div > div#aside > div#chat > div > div:last-of-type {
  display: flex;
  flex-direction: column;
}

div#game-container > div > div#aside > div#chat > div > div:last-of-type > div:first-of-type {
  align-self: stretch;
  margin: 0.2rem 0.2rem 0 0.2rem;
  text-align: left;
  overflow-y: scroll;
}

div#game-container > div > div#aside > div#chat > div > div:last-of-type > div:last-of-type {
  display: flex;
  padding: 0.2rem;
}

div#aside > div#chairs > div.chair,
div#aside > div#actions > div.actions,
div#aside > div#chat > div.chat {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
  font-size: 0.27rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top-left-radius: 0.15rem;
  border-top-right-radius: 0.15rem;
}

div#aside > div#chairs > div.chair > div:first-of-type,
div#aside > div#actions > div.actions > div:first-of-type,
div#aside > div#chat > div.chat > div:first-of-type {
  padding: 0.2rem 0;
  border-top-left-radius: 0.15rem;
  border-top-right-radius: 0.15rem;
  background-color: rgba(255, 255, 255, 0.1);
}

div#aside > div#chairs > div.chair > div:last-of-type,
div#aside > div#actions > div.actions > div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 0.85rem;
  background-color: rgba(0, 0, 0, 0.16);
}

div#aside > div#chat > div.chat > div:last-of-type {
  flex: 1 1 auto;
  background-color: rgb(34, 39, 50);
}

div#aside > div#chairs > div.chair > div:last-of-type > span.chair-busy {
  color: rgb(13, 202, 240);
}

div#aside > div#chairs > div.chair > div:last-of-type > span.chair-waiting {
  color: rgb(179, 179, 9);
}

div#aside > div#chairs > div.chair > div:last-of-type > span.chair-not-available {
  color: rgb(220, 53, 69);
}

img.remove-icon {
  width: 0.3rem;
  height: 0.3rem;
  margin-left: 0.12rem;
  vertical-align: middle;
}

img.arrow {
  width: 0.85rem;
  margin-top: 0.2rem;
}

div#player-left img.arrow {
  transform: rotate(180deg);
}

div#start-game-alert.shown {
  display: block;
  position: absolute;
  padding: 0.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.3rem;
  border: 1px solid rgb(62, 68, 80);
  background-color: rgb(40, 47, 60);
  z-index: 1000;
}

div#start-game-alert button {
  margin: 0.3rem auto 0 auto;
}

div#game-container > div > div#table > div#player-bottom,
div#game-container > div > div#table > div#player-top {
  position: absolute;
  overflow: hidden;
  z-index: 100;
  left: 0;
}

@media (min-aspect-ratio: 11/6) {
  div#game-container > div > div#table > div#players-bar {
    display: none;
  }
  div#game-container > div > div#table > div#table-center.shown {
    left: 5.9rem;
  }
  div#game-container > div > div#table > div#player-bottom.shown {
    padding-left: 3rem;
    width: calc(100% - 3rem);
  }
  div#game-container > div > div#table > div#player-top.shown {
    display: block;
    padding-left: 3rem;
    width: calc(100% - 3rem);
    top: 0.4rem;
    height: 2rem;
  }
  div#game-container > div > div#table > div#player-left.shown {
    display: block;
    left: 0.4rem;
  }
  div#game-container > div > div#table > div#player-right.shown {
    display: block;
    right: 0.4rem;
  }
  div#game-container > div > div#table > div#table-state-info {
    left: 3.2rem;
  }
}
@media (max-aspect-ratio: 11/6) {
  div#game-container > div > div#table > div#players-bar.shown {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 0.4rem;
    left: 0;
    width: 100%;
    z-index: 200;
  }
  div#game-container > div > div#table > div#player-top.shown {
    display: none;
  }
  div#game-container > div > div#table > div#player-left.shown {
    display: none;
  }
  div#game-container > div > div#table > div#player-right.shown {
    display: none;
  }
  div#game-container > div > div#table > div#table-state-info {
    left: 5%;
  }
}

div#game-container > div > div#table > div#player-left,
div#game-container > div > div#table > div#player-right {
  position: absolute;
  overflow: hidden;
  z-index: 100;
  padding-top: 0.5rem;
  top: 0;
  width: 2rem;
  height: calc(100% - 0.5rem);
}

div#game-container > div > div#table > div > div.players-status {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 0.23rem;
}

div#game-container > div > div#table > div#player-bottom > div.players-status,
div#game-container > div > div#table > div#player-top > div.players-status {
  float: left;
  width: 2rem;
  height: 100%;
  margin-right: 0.45rem;
}

div#game-container > div > div#table > div#player-bottom > div.players-status > div  {
  display: flex;
  align-items: center;
  position: absolute;
  height: 80%;
  bottom: 0;
}

div#game-container > div > div#table > div#player-left > div.players-status,
div#game-container > div > div#table > div#player-right > div.players-status {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.28rem;
}

div#game-container > div > div#table > div#player-left > div.players-status {
  transform: rotate(270deg);
}

div#game-container > div > div#table > div#player-right > div.players-status {
  transform: rotate(90deg);
}

div#game-container > div > div#table > div > div.players-cards-deck,
div#game-container > div > div#table > div#table-center > div.table-cards-deck {
  position: relative;
  height: 100%;
}

div#game-container > div > div#table > div#player-top > div.players-cards-deck > img,
div#game-container > div > div#table > div#table-center > div.table-cards-deck > img {
  position: absolute;
  top: 0;
  height: 100%;
}

div#game-container > div > div#table > div#player-bottom > div.players-cards-deck > img {
  position: absolute;
  height: 80%;
}

div#game-container > div > div#table > div#player-bottom > div.players-cards-deck > img.not-selected {
  bottom: 0;
}

div#game-container > div > div#table > div#player-bottom > div.players-cards-deck > img.selected {
  top: 0;
}

div#game-container > div > div#table > div#player-left > div.players-cards-deck > img,
div#game-container > div > div#table > div#player-right > div.players-cards-deck > img {
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% * 2 / 3);
}

div#game-container > div > div#table > div#table-state-info.shown {
  display: block;
}

div#game-container > div > div#table > div#table-state-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 0.27rem;
}

div#game-container > div > div#table > div#table-state-info > img {
  display: inline-block;
  width: 0.27rem;
  height: 0.27rem;
  filter: drop-shadow(0 0 0.05rem white);
}

div#game-container > div > div#table > div#players-bar > div {
  font-size: 0.25rem;
  text-align: center;
}
